<div class="section section-signup" style="background-image: url('/assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
  <div class="row">
    <div class="col-lg-5" style='padding: 40px 40px 100px; padding-left: 10%'>
      <div class="card card-signup" data-background-color="black">
        <%= form_for(@query, url: queries_path) do |f| %>
          <div class="card-header text-center">
            <h3 class="card-title title-up">Contact Us / Query Box</h3>
          </div>
          <div class="input-group" style='padding: 0px 20px 0px 20px;'>
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="now-ui-icons users_circle-08"></i>
              </span>
            </div>
            <%= f.select :reason, contact_reasons, { include_blank: 'Reason' }, { class: 'form-control' } %>
          </div>
          <div class="input-group" style='padding: 0px 20px 0px 20px;'>
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="now-ui-icons users_circle-08"></i>
              </span>
            </div>
            <%= f.text_field :full_name, autofocus: true, placeholder: 'Full Name', class: 'form-control' %>
          </div>
          <div class="input-group" style='padding: 0px 20px 0px 20px;'>
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="now-ui-icons users_circle-08"></i>
              </span>
            </div>
            <%= f.text_field :phone, autofocus: true, placeholder: 'Phone', class: 'form-control' %>
          </div>
          <div class="input-group" style='padding: 0px 20px 0px 20px;'>
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="now-ui-icons users_circle-08"></i>
              </span>
            </div>
            <%= f.text_field :email, autofocus: true, placeholder: 'Email', class: 'form-control' %>
          </div>
          <div class='center'>
            <%= f.submit "Submit", class: "btn btn-neutral btn-round btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 offset-sm-1" style='padding: 40px'>
      <div class='row'>
        <div class="col-sm-2 col-3">
          <img src="/assets/office-address.png" alt="Thumbnail Image" class="rounded-circle img-raised">
        </div>
        <div class="col-sm-5 col-9">
          <p class="category" style='color: antiquewhite;'>STAR MONEY, KHANDEKAR COLONY, NEAR VANDANA HOTEL, BINA 470113 </p>
        </div>
      </div>
      <br/>
      <br/>
      <div class='row' style='border: 3px black'>
        <div class="col-sm-2 col-3">
          <img src="/assets/employee.png" alt="Thumbnail Image" class="rounded-circle img-raised">
        </div>
        <div class="col-sm-3 col-7">
          <div class='row'>
            <div class="col-sm-12 col-7">
              <p class="category" style='color: antiquewhite;'>Sanjay Sen</p>
            </div>
            <div class="col-sm-3 col-4">
              <p class="category" style='color: antiquewhite;'>9575270852</p>
            </div>
          </div>
          <div class='row'>
            <div class="col-sm-3 col-7">
              <p class="category" style='color: antiquewhite;'>sanjay.sen1987@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <div class='row'>
        <div class="col-sm-2 col-3 pt-4">
          <img src="/assets/office1.png" alt="Thumbnail Image" class="rounded-circle img-raised">
        </div>
        <div class="col-sm-9 col-7">
          <div class='row'>
            <div class="col-sm-12 col-8">
              <p class="category" style='color: antiquewhite;'>STAR MONEY OFFICE</p>
            </div>
            <div class="col-sm-7 col-4">
              <p class="category" style='color: antiquewhite;'>9770093777, 07580223777, 075802224563</p>
            </div>
          </div>
          <div class='row'>
            <div class="col-sm-3 col-7">
              <p class="category" style='color: antiquewhite;'>starmoneybina@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'user/layouts/footer', background_color: 'black' %>